<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<file>algolia-bogo.php</file>
		</include>
		<exclude>
			<directory>tests</directory>
			<directory>node_modules</directory>
			<directory>vendor</directory>
		</exclude>
	</coverage>
</phpunit>

